<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>InstaTeam</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet'
          type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>
<header>
    <div class="container">
        <div class="site-header">
            <a class="logo" th:href="@{/}">InstaTeam</a>
            <a class="new-project button icon-left" th:href="@{/new-project}"><i
                    class="material-icons">add</i> New Project</a>
        </div>
    </div>
</header>
<nav>
    <ul>
        <li><a th:href="@{/}">Projects</a></li>
        <li><a th:href="@{/roles}">Roles</a></li>
    </ul>
</nav>
<section>
    <div class="container wrapper">
        <form action="">
            <h2 style="display:inline">Manage Collaborators</h2>
            <h2 th:if="${project != null}" style="display:inline"
                th:text="| for ${project.name}|"></h2>
            <ul class="checkbox-list roles-collaborators">
                <li th:each="colab: ${collaborators}">
                    <span class="primary" th:text="${colab.name}">Michael Pemulius</span>
                </li>
            </ul>
        </form>
        <form th:action="${action}" th:object="${collaborator}" method="post">
            <div class="actions add-new-collaborator">
                <input type="text" th:field="*{name}" placeholder="Name..."/>
                <input type="hidden" th:field="*{id}"/>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select th:field="*{role}">
                        <option th:each="role:${roles}" th:value="${role.name}"
                                th:text="${role.name}">
                            Role...<input type="hidden" th:field="*{role.id}"
                                          th:value="${role.id}"/></option>
                    </select>
                </div>
                <input type="submit" class="button" value="Add Collaborator"/>
            </div>
        </form>
    </div>
</section>
</body>
</html>